In [70]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [71]:
df = pd.read_excel('/home/rmfarizky/Project/deteksi_stunting/Dataset/dataset.xlsx')

In [72]:
df.drop(columns=['tgl_lahir','tgl_ukur'], inplace=True)

In [73]:
df

,j_kel,usia_ukur(bulan),berat,tinggi,Z_BB/TB,Z_BB/U,Z_TB/U,Z_IMT/U,BB/TB,BB/U,TB/U,IMT/U
0,Laki-laki,58,13.1,97.5,-0.53,0.52,1.24,-0.22,Gizi Baik,Normal,Normal,Gizi Baik
1,Perempuan,57,12.2,98.5,-1.87,-1.94,-0.89,-1.95,Gizi Baik,Normal,Normal,Gizi Baik
2,Perempuan,56,12.6,95.5,-0.95,-1.43,-1.15,-1.05,Gizi Baik,Normal,Normal,Gizi Baik
3,Laki-laki,55,14.2,99.3,-0.40,-1.42,-1.96,-0.36,Gizi Baik,Normal,Normal,Gizi Baik
4,Perempuan,53,13.2,97.0,-0.97,-1.38,-1.18,-0.96,Gizi Baik,Normal,Normal,Gizi Baik
...,...,...,...,...,...,...,...,...,...,...,...,...
619,Perempuan,9,7.0,67.5,-0.81,-1.59,-1.75,-0.68,Gizi Baik,Normal,Normal,Gizi Baik
620,Laki-laki,9,7.6,67.5,-1.21,-2.38,-2.52,-1.06,Gizi Baik,Kurang,Pendek,Gizi Baik
621,Perempuan,7,6.5,65.0,-2.22,-2.69,-1.97,-2.12,Gizi Kurang,Kurang,Normal,Gizi Kurang
622,Perempuan,7,6.1,65.5,-1.43,-2.41,-2.46,-1.18,Gizi Baik,Kurang,Pendek,Gizi Baik
623,Perempuan,2,5.6,60.0,-0.45,-1.11,-1.57,-0.19,Gizi Baik,Normal,Normal,Gizi Baik

In [74]:
encoded_columns = ['j_kel', 'BB/TB', 'BB/U', 'TB/U', 'IMT/U']

In [75]:
def Encoded_Col(i_df):
    # Mengurutkan ulang label secara alfabetis
    sorted_labels = sorted(df[i_df].unique())

    # Membuat dictionary untuk menyimpan keterangan encode baru
    encode_labels_new = {}

    # Melakukan encoding ulang dengan label yang berurutan
    for i, label in enumerate(sorted_labels):
        encode_labels_new[label] = i
        df.loc[df[i_df] == label, i_df] = i

    # # Menyimpan data setelah encode ulang
    # df.to_csv('data_encode_ulang.csv', index=False)
    # Menampilkan keterangan encode dan jumlah baris per target setelah encode ulang
    for target_label, target_encode in encode_labels_new.items():
        count_after = df[df[i_df] == target_encode].shape[0]
        print("Target Label:", target_label)
        print("Encode Label:", target_encode)
        print("Jumlah Baris:", count_after)
        print()

## Encode Column Jenis Kelamin

In [76]:
Encoded_Col(encoded_columns[0])

Target Label: Laki-laki
Encode Label: 0
Jumlah Baris: 293

Target Label: Perempuan
Encode Label: 1
Jumlah Baris: 331

## Encode Column BB/TB

In [77]:
Encoded_Col(encoded_columns[1])

Target Label: Gizi Baik
Encode Label: 0
Jumlah Baris: 519

Target Label: Gizi Buruk
Encode Label: 1
Jumlah Baris: 6

Target Label: Gizi Kurang
Encode Label: 2
Jumlah Baris: 56

Target Label: Gizi Lebih
Encode Label: 3
Jumlah Baris: 8

Target Label: Obesitas
Encode Label: 4
Jumlah Baris: 4

Target Label: Resiko Gizi Lebih
Encode Label: 5
Jumlah Baris: 31

## Encode Column BB/U

In [78]:
Encoded_Col(encoded_columns[2])

Target Label: Kurang
Encode Label: 0
Jumlah Baris: 152

Target Label: Lebih
Encode Label: 1
Jumlah Baris: 14

Target Label: Normal
Encode Label: 2
Jumlah Baris: 437

Target Label: Sangat Kurang
Encode Label: 3
Jumlah Baris: 21

## Encode Column TB/U

In [79]:
Encoded_Col(encoded_columns[3])

Target Label: Normal
Encode Label: 0
Jumlah Baris: 418

Target Label: Pendek
Encode Label: 1
Jumlah Baris: 164

Target Label: Sangat Pendek
Encode Label: 2
Jumlah Baris: 41

Target Label: Tinggi
Encode Label: 3
Jumlah Baris: 1

## Encode Column IMT/U

In [80]:
Encoded_Col(encoded_columns[4])

Target Label: Gizi Baik
Encode Label: 0
Jumlah Baris: 529

Target Label: Gizi Buruk
Encode Label: 1
Jumlah Baris: 5

Target Label: Gizi Kurang
Encode Label: 2
Jumlah Baris: 37

Target Label: Gizi Lebih
Encode Label: 3
Jumlah Baris: 10

Target Label: Obesitas
Encode Label: 4
Jumlah Baris: 4

Target Label: Resiko Gizi Lebih
Encode Label: 5
Jumlah Baris: 39

In [81]:
df

,j_kel,usia_ukur(bulan),berat,tinggi,Z_BB/TB,Z_BB/U,Z_TB/U,Z_IMT/U,BB/TB,BB/U,TB/U,IMT/U
0,0,58,13.1,97.5,-0.53,0.52,1.24,-0.22,0,2,0,0
1,1,57,12.2,98.5,-1.87,-1.94,-0.89,-1.95,0,2,0,0
2,1,56,12.6,95.5,-0.95,-1.43,-1.15,-1.05,0,2,0,0
3,0,55,14.2,99.3,-0.40,-1.42,-1.96,-0.36,0,2,0,0
4,1,53,13.2,97.0,-0.97,-1.38,-1.18,-0.96,0,2,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
619,1,9,7.0,67.5,-0.81,-1.59,-1.75,-0.68,0,2,0,0
620,0,9,7.6,67.5,-1.21,-2.38,-2.52,-1.06,0,0,1,0
621,1,7,6.5,65.0,-2.22,-2.69,-1.97,-2.12,2,0,0,2
622,1,7,6.1,65.5,-1.43,-2.41,-2.46,-1.18,0,0,1,0
623,1,2,5.6,60.0,-0.45,-1.11,-1.57,-0.19,0,2,0,0

In [82]:
encoded_dataset = df

In [86]:
encoded_dataset.to_csv('Dataset/encoded_dataset.csv', index=False)